<!--
* This file is subject to the terms and conditions defined in
* file 'LICENSE.txt', which is part of this source code package.
-->

<!-- Select Frequency and Channel Output -->
<div class="row">
  <div class="col-xs-7">
    <span style="padding-left: 10px"><label for="frequency"><strong>{{'Frequency'|translate}}</strong></label></span>
  </div>
  <div class="col-xs-5">
    <span class="dropdown" uib-dropdown id="frequency-dropdown">
      <button id="frequency" type="button" class="btn btn-block btn-default dropdown-toggle" uib-dropdown-toggle>
        {{data.currentFrequency / 1000}} kHz <span class="caret caret-position" style="margin-left: 10px"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu>
        <!-- use "Left" since it will always be defined -->
        <li ng-repeat="item in chaExams.storage.manualAudiometry.list.Left track by $index">
          <a href="#" ng-click="chooseFrequency($index)">{{item.F / 1000}}</a>
        </li>
      </ul>
    </span>
  </div>
</div>

<br />

<div class="row">

  <!-- Level Pane -->
  <div ng-class="col-xs-12">
    <uib-accordion close-others="false">
      <div uib-accordion-group class="panel panel-default" is-open="panes.level">
        <uib-accordion-heading>
          {{'Presentation Level'| translate}} <i class='pull-right glyphicon' ng-class='{"glyphicon-chevron-up": adminLogic.panes.config.general, "glyphicon-chevron-down": !adminLogic.panes.config.general}'></i>
        </uib-accordion-heading>   
        <div class="panel-body">

          <div class="row">
            <div class="col-xs-12">
              <span class="manual-audiometry-level-text">{{data.currentLevel}}</span>
              <span class="manual-audiometry-level-units">{{data.levelUnits}}</span>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <span class="dropdown" uib-dropdown id="output-dropdown">
                <button type="button" class="btn btn-block btn-default dropdown-toggle" uib-dropdown-toggle>
                  {{translatableChannel}} <span class="caret caret-position" style="margin-left: 10px"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu>
                  <li><a href="#" ng-click="selectOutput('Left')">{{'Left'|translate}}</a></li>
                  <li><a href="#" ng-click="selectOutput('Right')">{{'Right'|translate}}</a></li>
                  <li ng-if="boneConduction"><a href="#" ng-click="selectOutput('Bone (Left)')">Bone (Left)</a></li>
                  <li ng-if="boneConduction"><a href="#" ng-click="selectOutput('Bone (Right)')">Bone (Right)</a></li>
                </ul>
              </span>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <button class="btn btn-block btn-default" ng-disabled="data.currentLevel >= data.maxLevel" ng-click="increase(increaseValue)">
                + {{increaseValue}} dB &nbsp;<span class="glyphicon glyphicon-arrow-up"></span>
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <button class="btn btn-block btn-default" ng-disabled="data.currentLevel <= data.minLevel" ng-click="decrease(decreaseValue)">
                - {{decreaseValue}} dB &nbsp;<span class="glyphicon glyphicon-arrow-down"></span>
              </button>
            </div>
          </div>

          <!-- Play Tone -->
          <div class="row">
            <div class="col-xs-12">
              <button ng-class="playTonesButtonClass()" style="height:64px;" ng-click="toggleToneButton()" ng-disabled="disablePlayTone">
                <span ng-if="!btnState">{{'Play Tone'|translate}}</span>
                <span ng-if="btnState === 1">Stop Tone</span>
              </button>
            </div>
          </div>

          <!-- Threshold Select -->
          <div class="row">

            <!-- Threshold -->
            <div class="col-xs-12">
              <button class="btn btn-block btn-success" ng-click="setThreshold()">
                {{'Record Threshold'|translate}}
              </button>
            </div>

          </div>

        </div>
      </div>
    </uib-accordion>
  </div>

 <!-- results table -->
  <div class="row">
    <div class="col-xs-12">
      <uib-accordion close-others="false">
        <div uib-accordion-group class="panel panel-default" is-open="panes.table">
          <uib-accordion-heading>
            {{'Results Table'| translate}} <i class='pull-right glyphicon' ng-class='{"glyphicon-chevron-up": adminLogic.panes.config.general, "glyphicon-chevron-down": !adminLogic.panes.config.general}'></i>
          </uib-accordion-heading>  
          <div class="panel-body">
            <table ng-repeat="item in tableNames" class="table table-striped table-audiometry table-layout-fixed">
              <caption ng-class="item.indexOf('Left') > -1 ? 'caption-left' : 'caption-right' ">{{ item }}</caption>
              <tbody>
                <tr>
                  <th scope="row">{{'Frequency'|translate}}<br />{{'(kHz)'|translate}}</th>
                  <td ng-repeat="presentation in presentationList track by $index">{{presentation.F / 1000}}</td>
                </tr>
                <tr >
                  <th scope="row">{{'Threshold'|translate}}<br />{{'(dB SPL)'|translate}}</th>
                  <td ng-repeat="presentation in presentationList track by $index">{{chaExams.storage.manualAudiometry.list[item][$index] ? chaExams.storage.manualAudiometry.list[item][$index].Threshold : '-'}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        <!-- legend include -->
        <div ng-include="'scripts/components/response-areas/audiometry/legend.html'"></div>
      </div>
    </uib-accordion>
  </div>

  <!-- ng-init="resultsList = chaResults.createAudiometryResults(page.dm.responseArea.displayIds)[0]"  -->

  <!-- <div class="row">
    <div 
      
      ng-include="'scripts/components/response-areas/audiometry/audiometry-table/audiometry-table.html'"
    >
    </div>
  </div> -->

</div>
