<!--
* This file is subject to the terms and conditions defined in
* file 'LICENSE.txt', which is part of this source code package.
-->
  


<div class="row">
  <div class="col-xs-12">
    <span class="manual-audiometry-level-text"> Record File </span>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <!-- Record Button -->
      <button ng-class="recordButtonClass()" style="height: 64px; width: 200px; text-align: center;" ng-click="startRecording()">
        <span ng-if="!btnState">{{'Start Recording'|translate}}</span>
        <span ng-if="btnState === 1">{{'Stop Recording'|translate}}</span>
      </button>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="panel-body">
      <table class="table table-striped table-audiometry table-layout-fixed">
        <tbody>

          <tr>
            <!-- Headers -->
            <th scope="row"> Exam </th>
            <td style="font-weight: bold;"> Start Time <br /> (UTC) </td>
            <td style="font-weight: bold;"> End Time <br /> (UTC) </td>
            <td style="font-weight: bold;"> Directory <br /> Name </td>
            <td style="font-weight: bold;"> Sample <br /> Count </td>
          </tr>

          <tr ng-repeat="rf in recordFiles track by $index">
            <!-- current RecordFile exam -->
            <th scope="row" ng-if="currentRecordFile==$index" style="background:lightcoral;"> Current </th>
            <td ng-if="currentRecordFile==$index" style="background:lightcoral;"> {{rf[0].substring(0,10)}} <br /> {{rf[0].substring(11,19)}} </td>
            <td ng-if="currentRecordFile==$index" style="background:lightcoral;"> {{rf[1].substring(0,2)}} <br /> {{rf[1].substring(3)}} </td>
            <td ng-if="currentRecordFile==$index" style="background:lightcoral;"> {{rf[2]}} </td>
            <td ng-if="currentRecordFile==$index" style="background:lightcoral;"> {{rf[3]}} </td>
            <!-- recently completed RecordFile exam(s) -->
            <th scope="row" ng-if="currentRecordFile!=$index"> Recently Completed </th>
            <td ng-if="currentRecordFile!=$index"> {{rf[0].substring(0,10)}} <br /> {{rf[0].substring(11,19)}} </td>
            <td ng-if="currentRecordFile!=$index"> {{rf[1].substring(0,10)}} <br /> {{rf[1].substring(11,19)}} </td>
            <td ng-if="currentRecordFile!=$index"> {{rf[2]}} </td>
            <td ng-if="currentRecordFile!=$index"> {{rf[3]}} </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>

      