<div ng-controller="gapExamCtrl">
  <canvas id="myCanvas"></canvas>
  <div ng-if="gapState === 'exam'" class="row pad-top">
    <div ng-if="useSoftwareButton" class="col-xs-12">
      <software-button></software-button>
    </div>
  </div>
  <div ng-if="gapTraining && gapState !== 'exam'">
    <h2>{{'Training'|translate}}</h2>
    <div class="row pad-top">
      <b>{{'Gap Lengths (ms)'|translate}}':</b>
    </div>
    <div id="gapLenghtsRow" name="gapLenghtsRow" class="row">
      <div ng-repeat="item in gapLengths|limitTo:5">
        <button class="button btn btn-default" type="button" ng-click="startGapExam(item, noiseLevel, false)">{{item}}</button><div class="col-xs-1"></div>
      </div>
    </div>
    <div class="row pad-top">
      <label for="noiseLevel">{{'Noise Level'|translate}} (0-85 dB):</label>
      <input type="number" ng-model="noiseLevel" id="noiseLevel" name="noiseLevel"
       min="0" max="85">
    </div>
    <hr /></hr>
    <div class="row pad-top">
      <button class="col button btn btn-default" type="button" ng-click="startGapExam(null, null, true)">{{'Begin Exam'|translate}}</button>
    </div>
  </div>
  <div ng-if="!gapTraining && gapState === 'results'">
    <div>Exam complete, press submit.</div>
    <gap-results-plot data="gapResultsData"></gap-results-plot>
  </div>
</div>
