<div ng-if="chaExams.state === 'exam'">
  <div style="text-align: center;">
    <i>Measuring background noise.</i>
  </div>
  <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>

<div ng-if="chaExams.state === 'results'" class="cha-results">
  <third-octave-band-plot data="thirdOctaveBandData"></third-octave-band-plot>

  <br />
  <button type="button" class="button btn btn-default" ng-click="repeatChaExam()">Repeat background noise measurement</button>
  
  <div ng-if="dataError">
    Test Failed: {{dataError}}
  </div>
</div>