<!--
* Author: Brendan Flynn
* Date: 13 October, 2015
* This file is subject to the terms and conditions defined in
* file 'LICENSE.txt', which is part of this source code package.
-->

<p id="tblPresentation">
  Presentation {{presentationCount+1}} / {{chaExams.examProperties.NumberOfPresentations}}
</p>

<div class="omt" style="margin-bottom: 100px; max-width: 650px; margin: 20px auto 100px; text-align: left;" aria-labelledby="tblPresentation">  
  <div ng-repeat="word in props.listOfWords.slice(0,5) track by $index" style="display: inline-block;">
    <button 
      type="button" 
      ng-bind="word"
      ng-class="{
      'btn btn-default':true,
      'btn-default active' : hintChosen($index)
      }"
      ng-disabled="wordsDisabled" 
      ng-click="toggleWord($index)"
      style="margin: 7px;padding: 10px 15px; min-width: auto;">{{word}}</button>
  </div><div 
    ng-if="props.listOfWords.length > 5" ng-repeat="word in props.listOfWords.slice(5) track by $index" style="display:inline-block;">
    <button 
      type="button"
      ng-bind="word"
      ng-class="{
      'btn btn-default':true,
      'btn-default active' : hintChosen(5+$index)
      }"
      ng-disabled="wordsDisabled"
      ng-click="toggleWord(5+$index)"
      style="margin: 7px;padding: 10px 15px; min-width: auto;">{{word}}
    </button>
  </div>
</div>

<div class="omt">
  <table style="width:100%;max-width: 450px;margin: 0 auto 50px;">
    <tr>
      <td style="text-align:center"><button type="button" class="btn btn-default btn-block" ng-click="selectAllWords()">{{'Select All'|translate}}</button></td>
      <td style="text-align:center"><button type="button" class="btn btn-default btn-block" ng-click="clearSelection()">{{'Clear All'|translate}}</button></td>
    </tr>
  </table>
</div>
