<div>

  <div>
    <p>Presentation {{presentationCount}} / {{chaExams.examProperties.NumberOfPresentations}}</p>
  </div>
      <form name="myForm">
          <table class="keypad">
            <tr class="cha-dd-row">
              <td><div ng-class="(digitCorrect[0] && feedback)? 'cha-dd-response-correct':'cha-dd-response-incorrect'" style="border: 2px solid #efefef; padding: 20px; height: 94px; width:65px;">{{response[0]}}</div></td>
              <td><div ng-class="(digitCorrect[1] && feedback)? 'cha-dd-response-correct':'cha-dd-response-incorrect'" style="border: 2px solid #efefef; padding: 20px; height: 94px; width:65px;">{{response[1]}}</div></td>
              <td><div ng-class="(digitCorrect[2] && feedback)? 'cha-dd-response-correct':'cha-dd-response-incorrect'" style="border: 2px solid #efefef; padding: 20px; height: 94px; width:65px;">{{response[2]}}</div></td>
              <td><div ng-class="(digitCorrect[3] && feedback)? 'cha-dd-response-correct':'cha-dd-response-incorrect'" style="border: 2px solid #efefef; padding: 20px; height: 94px; width:65px;">{{response[3]}}</div></td>
            </tr>
          </table>
          <table class="keypad">
            <tr>
              <td><button type="button" class="btn btn-default btn-block" ng-disabled="digitsDisabled" ng-click="addDigit(1)">1</button></td>
              <td><button type="button" class="btn btn-default btn-block" ng-disabled="digitsDisabled" ng-click="addDigit(2)">2</button></td>
              <td><button type="button" class="btn btn-default btn-block" ng-disabled="digitsDisabled" ng-click="addDigit(3)">3</button></td>
            </tr>
            <tr>
              <td><button type="button" class="btn btn-default btn-block" ng-disabled="digitsDisabled" ng-click="addDigit(4)">4</button></td>
              <td><button type="button" class="btn btn-default btn-block" ng-disabled="digitsDisabled" ng-click="addDigit(5)">5</button></td>
              <td><button type="button" class="btn btn-default btn-block" ng-disabled="digitsDisabled" ng-click="addDigit(6)">6</button></td>
            </tr>
            <tr>
              <td><button type="button" class="btn btn-default btn-block" ng-disabled="digitsDisabled" ng-click="addDigit(7)">7</button></td>
              <td><button type="button" class="btn btn-default btn-block" ng-disabled="digitsDisabled" ng-click="addDigit(8)">8</button></td>
              <td><button type="button" class="btn btn-default btn-block" ng-disabled="digitsDisabled" ng-click="addDigit(9)">9</button></td>
            </tr>
            <tr>
              <td></td>
              <td><button type="button" class="btn btn-default btn-block" ng-disabled="digitsDisabled" ng-click="addDigit(0)">0</button></td>
              <td><button type="button" class="btn btn-block btn-default symbol" ng-disabled="digitsDisabled" ng-click="deleteKeypad()"><span class="glyphicon glyphicon-arrow-left"></span><br />delete</button></td>
            </tr>
          </table>
      </form>

</div>
