<!--
* This file is subject to the terms and conditions defined in
* file 'LICENSE.txt', which is part of this source code package.
-->


<!-- Title block -->
<h2 ng-bind-html="trustAsHtml(page.dm.questionMainText)" ng-if="page.dm.questionMainText"
    ng-class="{medium: ((page.dm.questionMainText.length >= 38) && (page.dm.questionMainText.length < 48)), long: (page.dm.questionMainText.length > 42)}"></h2>
<p class="subtext pad-top" ng-if="page.dm.questionSubText" ng-style="centerIfShort('subtext-testing')">
  <span ng-bind-html="trustAsHtml(page.dm.questionSubText)" id="subtext-testing"></span>
</p>
<p class="instructions" ng-if="page.dm.instructionText" ng-style="centerIfShort('instructions-testing')"><span ng-bind-html="trustAsHtml(page.dm.instructionText)" id="instructions-testing"></span></p>


<!-- Images -->
<div class="multimedia" ng-if="page.dm.image" ng-style="{width:page.dm.image.width}">
    <img ng-src="{{page.dm.image.path}}" class="img-responsive img-rounded" alt="" style="margin:0 auto;max-height:40vh;" />
</div>


<!-- Videos -->
<div class="multimedia" ng-if="page.dm.video" ng-style="{width:page.dm.video.width}">
  <row ng-if="page.dm.video.autoplay">
    <video id="video1" ng-src="{{page.dm.video.path}}" class="video-responsive video-rounded"  preload="page.dm.video.autoplay" controls />
  </row>
  <row ng-if="!page.dm.video.autoplay">
    <video id="video1" ng-src="{{page.dm.video.path}}" class="video-responsive video-rounded"  controls />
  </row>
</div>

<br />

<!-- Response area content -->
<div ng-if="page.dm.responseArea" ng-controller="ResponseAreaCtrl as ra">
    <div ng-repeat="(type, spec) in ra.responseAreas">
        <response-area ng-if="type === page.dm.responseArea.type" ng-include="spec.templateUrl"></response-area>
    </div>
</div>
