<div ng-controller="QrResponseAreaCtrl">

    <form name="myForm">
        <spacer></spacer>

        <!-- Enabled -->
        <div ng-if="qrCodeEnabled">
            <button type="button"class="btn btn-primary" ng-click="scanQrCode()">Scan Configuration</button>

            <!-- show response if not auto-submitted -->
            <br /><br />
            <div ng-if="qrResults">
                <p class="alert-success">QR code successfully scanned.</p>
                <p><pre>{{qrResults}}</pre></p>
            </div>
        </div>

        <!-- Disabled -->
        <div ng-if="!qrCodeEnabled">
            <p class="alert-danger">QR code scanning disabled. Is the tablet camera accessible?</p>
        </div>
        <spacer></spacer>
    </form>


</div>
