<!--
* This file is subject to the terms and conditions defined in
* file 'LICENSE.txt', which is part of this source code package.
-->
<div>
  <div class="omt">
    <table style="width:100%; margin-bottom:20px;">
      <tbody>
        <tr style="height:50px">
          <td style="width:150px">
            <table>
              <tbody>
              <tr>
                <th style="text-align:center">Frequency</th>
                <th></th>
              </tr>
              <tr ng-repeat="item in presentationList[data.channel] track by $index">
                <td style="padding-top: 15px;">
                  <button style="width:80px" ng-class="frequencyButtonClass($index)" ng-click="chooseFrequency($index)">{{item.F}}</button>
                </td>
                <td></td>
              </tr>
              </tbody>
            </table>
          </td>
          <td style="vertical-align:top;">
            <table style="text-align: center;">
              <tbody>
                <tr>
                  <td></td>
                  <td style="height:50px">
                    <button class="btn btn-default" style="width:170px; height:40px;" ng-disabled="btnState === 1" ng-click="switchEar()">Switch Ear</button>
                  </td>
                </tr>
                <tr>
                  <td style="vertical-align:top; height: 200px;">
                    <table style="text-align:center">
                      <tbody>
                      <tr>
                        <td>
                          <button class="btn btn-default" style="width:100px; height:40px;"
                                  ng-disabled="btnState === 1 || presentationList[data.channel][data.presIndex].examProperties.Level >= data.maxLevel"
                                  ng-click="increase(5)">+ 5 <span class="glyphicon glyphicon-arrow-up"></span>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td style="font-size:1.2rem;text-align: center;">
                          Level<br />
                          <strong>{{presentationList[data.channel][data.presIndex].examProperties.Level}}</strong> {{data.levelUnits}}
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <button class="btn btn-default" style="width:100px; height:40px;"
                                  ng-disabled="btnState === 1 || presentationList[data.channel][data.presIndex].examProperties.Level <= data.minLevel"
                                  ng-click="decrease(5)">- 5 <span class="glyphicon glyphicon-arrow-down"></span>
                          </button>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </td>
                  <td style="vertical-align:top; height: 200px;">
                    <button ng-class="playTonesButtonClass()" style="width:170px; height:170px;" ng-click="toggleToneButton()">
                      {{btnText[btnState]}}<br /><br />
                      Chan: {{data.channel}}<br />
                      Freq: {{data.currentFrequency}} Hz
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
