<div class="panel-body text-left">

  <div class="row pad-top">
    <div class="col-xs-4">
      <button class="btn btn-primary btn-block" ng-disabled="!bluetoothStatus.state || flic.state !== 'ready'" ng-class="!bluetoothStatus.state || flic.state !== 'ready' ? 'disabled custom-disabled': ''" ng-click="flic.scan()">Connect</button>
    </div>
    <div class="col-xs-4"></div>
    <div class="col-xs-4">
      <button ng-if="flic.buttons.length > 0" ng-class="!selected || tasks.disabled ? 'disabled custom-disabled': ''" ng-disabled="!selected || tasks.disabled" class="btn btn-primary btn-block" ng-click="disconnect()"><i class="ion-trash-a"></i> {{'Disconnect'|translate}} </button>
    </div>
  </div>

  <table>
    <thead>
      <th>Connected Flic Buttons</th>
    </thead>
    <tbody>
      <tr ng-repeat="button in flic.buttons" ng-class="pclass(button)" ng-click="select(button)">
          <td>{{button.name}}</td>
      </tr>
    </tbody>
  </table>
</div>
